<% include layout/header %>

    <div class="container">
      <div class="jumbotron text-center mt-2">
        <h1 class="display-3 text-info">Add New Contact</h1>
        <p class="lead">
            into PostgreSQL
        </p>        
      </div>

      <form action="/addnew" method="post">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" name="name" id="" class="form-control" placeholder="Enter your name" aria-describedby="helpId">
        </div>
        <div class="form-group">
          <label for="">Age</label>
          <input type="number" name="age" id="" class="form-control" placeholder="Enter your age" aria-describedby="helpId">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> 
        <a name="" id="" class="btn btn-link" href="/home" role="button">Back to list</a>
      </form>
    </div>
   
<% include layout/footer %>
