<% include layout/header %>

      <div class="container mt-2">      
          <div class="jumbotron">
              <h1 class="display-3 text-info">List of contacts</h1>              
              <hr class="my-2">              
          </div>   

        <div class="form-group">
            <a name="addnew" id="" class="btn btn-primary" href="/addnew" role="button">Create new</a>  
        </div>
                
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Task</th>
                  </tr>
              </thead>
              <tbody>
                <% data.forEach(function(item) { %>
                  <tr>
                      <td scope="row"><%= item.name %></td>
                      <td><%= item.age %></td>
                      <td>
                        <a href="/edit/<%= item.id %>" class="btn btn-link"> 
                          <i class="fa fa-edit text-primary" style="font-size:20px;"></i>
                        </a> | 
                        <a href="/remove/<%= item.id %>" class="btn btn-link" onclick="return DeleteAlert('Are you sure to delete?');"> 
                          <i class="fa fa-trash text-danger" style="font-size:20px;"></i>
                        </a>
                      </td> 
                  </tr>
                  
                <% }) %>
                
              </tbody>
          </table>
      </div>

    <script>
      function DeleteAlert(msg) {
        if(window.confirm(msg)==true) {
          return true;
        }
        return false;
      }
    </script>
    
<% include layout/footer %>
